.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    gap: 16px;
}

.input-wrapper {
    padding-right: 12px;
    width: 20%;
    padding-left: 8px;
}

.submit-button {
    margin-top: -8px;
    width: 20%;
    height: 40px;
    border-radius: 8px;
    border-width: 0;
    background-color: #ffa41c;
    font-size: 16px;
    color: black;
    font-weight: 600;
}

.countdown {
    margin-top: 10px;
    font-size: 16px;
    color: black;
}
