input {
    width: 90%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background: #f7f7f7;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #ffa41c;
    background: #fff;
}

.inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.password-input {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.password-input input {
    flex: 1;
    margin-bottom: 15px;
}

.eye-icon {
    position: absolute;
    right: 15px;
    cursor: pointer;
    user-select: none;
    color: #999;
    margin-bottom: 16px;
    font-size: small;
    margin-top: 8px;
}

.input-field.error {
    border-color: red;
    background-color: #ffe6e6;
}

.error-text {
    color: red;
    width: 100%;
    margin-top: -8px;
    font-size: 12px;
    text-align: left;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}
