.comment-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    border: 2px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    margin: 32px;
}

.comment-form .stars {
    display: flex;
    gap: 5px;
}

.comment-form textarea {
    resize: none;
    min-height: 80px;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid #ddd;
}

.comment-form button {
    align-self: flex-start;
    padding: 8px 16px;
    background-color: #ffa41c;
    border: none;
    color: black;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}
