.page {
    display: flex;
    flex-direction: column;
}

.page h2 {
    font-size: 36px;
    color: #333;
}

.actions {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.actions button {
    padding: 10px 16px;
    border: none;
    background-color: #ffa41c;
    color: black;
    border-radius: 8px;
    width: 50%;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.actions button:hover {
    background-color: #fb8f50;
}

.inner-cotainer {
    display: flex;
    flex-direction: row;
}

.section {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 16px;
}

.products-item {
    padding: 12px 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex;
    width: 90%;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 16px;
    flex-direction: row;
}

.products-item:hover {
    background-color: #e6e6e6;
}

.prodct-detail {
    display: flex;
    width: 100%;
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
    flex-direction: column;
}

.product-name {
    font-weight: 600;
    margin-bottom: 4px;
    font-size: 20px;
}

.product-description {
    font-size: 16px;
    display: flex;
    height: 100%;
}

.product-category {
    font-size: 14px;
    color: #fb8f50;
    font-weight: 600;
}

.product-price {
    font-size: 18px;
    color: black;
    font-weight: 600;
}

.product-stock {
    font-size: 14px;
}

.delete-button {
    background: transparent;
    border: none;
    color: #c00;
    font-size: 18px;
    margin-left: 8px;
    cursor: pointer;
    align-self: flex-start;
    padding: 4px;
    transition: color 0.2s ease;
}

.delete-button:hover {
    color: #900;
}

.filter-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-right: 0;
    justify-content: center;
}

.filter-select {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    margin-top: -16px;
    padding: 8px 16px;
}

.select-image {
    padding: 10px 16px;
    border: none;
    background-color: #ffa41c;
    color: black;
    border-radius: 8px;
    width: 50%;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.image {
    min-width: 180px;
    width: 180px;
    height: 180px;
    object-fit: contain;
    border-radius: 4px;
}

.empty-list {
    color: black;
    font-weight: 500;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-group label {
    margin-top: 16px;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.form-group textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    font-family: inherit;
    resize: none;
}

.button-wrapper {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
}

.add-button {
    margin-bottom: 16px;
    padding: 10px 16px;
    background-color: #ffa41c;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    color: black;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.add-button:hover {
    background-color: #fb8f50;
}
